body { 
    font-family: Arial;
    background: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.login-box {
    background: #fff;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;

}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 10px;
}