<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='css/style.css') }}" />
		<script src="{{ url_for('static', filename='js/transactionModal.js')}}"></script>

		<title>Transaction History</title>
	</head>
	<body>
		<!-- NAVBAR -->
		<div class="navbar">
			<div class="nav-left">
				<a href="{{ url_for('inventory.dashboard') }}">Items List</a>
				<a href="{{ url_for('inventory.transaction_history') }}"
					>Transaction History</a
				>
			</div>

			<div class="nav-right">
				<div>Logged in as: {{ session.username }}</div>
				<button class="button" onclick="openModal()">Add Transaction</button>
			</div>
		</div>

		<!-- CONTENT -->
		<div class="container">
			{% with messages = get_flashed_messages(with_categories=true) %} {% if
			messages %} {% for category, message in messages %}
			<div class="flash-message {{ category }}">{{ message }}</div>
			{% endfor %} {% endif %} {% endwith %}

			<h2>Transaction History</h2>
			<table>
				<thead>
					<tr>
						<th>Item</th>
						<th>Quantity</th>
						<th>Type</th>
						<th>Note</th>
						<th>User</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					{% for transaction in transactions %}
					<tr>
						<td>{{ transaction.item_name }}</td>
						<td>{{ transaction.quantity }}</td>
						<td>{{ transaction.transaction_type }}</td>
						<td>{{ transaction.note }}</td>
						<td>{{ transaction.username }}</td>
						<td>{{ transaction.created_at }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% include 'transaction_modal.html' %}
	</body>
</html>
